.leftbar-con {
    gap: 30px;
    height: 100%;
    position: relative;
    padding: 10px;
}
.leftbar-con .logo, .leftbar-con .current-user, .leftbar-nav {
    width: 100%;
}
.leftbar-con .logo {
    border-bottom: 1px solid #333;
}

.logo img {
    width: 70px;
    height: 70px;
}
.leftbar-nav {
    position: absolute;
    bottom: 5%;
    left: 5%;

}
.leftbar-nav ul {
    gap: 10px;
}
.leftbar-con .current-user {
    height: 70px;
    align-items: center;
}
.leftbar-con .current-user img {
    height: 100%;
    width: 70px;
    border-radius: 50%;
}
.logout {
    font-weight: 600;
}