.userslist-con {
    padding: 10px;
}
.user-con, .userslist-head {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 800px;
    padding: 10px;
    overflow: hidden;
}
.userslist-head {
    border-bottom: 1px solid #000;
}
.userslist-head li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-con p {
    padding: 5px;
}
.user-con img {
    width: 80px;
    height: 80px;
}
.user-con p {
    overflow: hidden;
    white-space: wrap;
}
.user-con button {
    width: auto;
    height: 40px;
    background-color: goldenrod;
}
.user-con button .icon {
    font-size: 20px;
}

.edit-user-con {
    /* justify-content: center; */
    align-items: center;
}


@media screen and (max-width: 1550px) {
    .userslist-con {
        padding: 10px;
        overflow: hidden;
        overflow-x: scroll;
    }
}