* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
  height: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
  gap: 5px;
}

.nav-links {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

button {
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
button:hover {
  opacity: 80%;
}


/* Layout  */
.layout-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* overflow: hidden; */
}
.layout-header {
  height: auto;
  padding: 5px;
}
.layout-mid-sidbars {
  padding: 10px;
}
.layout-sidebars {
  flex: 1;
  height: 100%;
  padding-bottom: 20px;
  box-shadow: 0 0 3px #333;
}
.layout-midbar {
  flex: 2;
  padding: 10px;
  height: 85vh;
  overflow: hidden;
  overflow-y: scroll;
}
.layout-footer {
  height: auto;
  width: 100%;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

/* HEADER AND NAVIGATION  */
header {
  height: auto;
  padding: 5px 20px;
  box-shadow: 0 0 5px #000;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
}
.logo img {
  width: 70px;
  height: 70px;
}
.header-nav ul {
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.current-user {
  height: 70px;
}
.current-user img {
  height: 100%;
  width: 70px;
  border-radius: 50%;
}
.login, .logout {
  font-weight: 600;
}


/* ALL PAGES  */
.main-con {
  min-height: 90vh;
  margin-top: 3px;
}

/* Public page  */
.public-blogs-con {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px #333;
  margin: auto;
  margin-bottom: 100px;
}
.public-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

/* Home  */ 
.home-con {
  height: auto;
  overflow: hidden;
}
.home-nav-header {
  display: none;
}
.home-nav-con {
  height: 70px;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  padding-top: 5px;
}
.home-nav-con .logo img, .home-nav-con .current-user img {
  height: 50px;
  width: 50px;
}
.home-nav-con .current-user {
  align-items: center;
  justify-content: center;
}
.home-nav ul {
  align-items: center;
  gap: 15px;
}

/* Search page  */
.searchpage {
  display: none;
  width: 100%;
}

/* FOOTER SECTION  */
footer {
  width: 100%;
  gap: 5px;
  position: relative;
  padding: 5px;
  min-height: 10vh;
}
.online-status {
  position: absolute;
  right: 2%;
  bottom: 2%;
}
.online-status .status span {
  font-weight: 600;
}
.footer-search {
  background-color: #d3d3d3;
  border-radius: 20px;
  padding: 2px 6px;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  display: none;
}
.footer-icon {
  font-size: 14px;
}


/* Media queries  */
@media screen and (max-width: 1200px) {
  /* Layout  */
  .layout-midbar {
    flex: 4;
  }
  .rightbar {
    display: none;
  }
  .leftbar {
    flex: 2;
  }

  /* Search page  */
  .searchpage {
    display: unset;
  }
}


/* Media queries  */
@media screen and (max-width: 850px) {
  /* Layout  */
  .logo img {
    width: 60px;
    height: 60px;
  }
  .current-user {
    height: 50px;
  }
  .current-user img {
    width: 50px;
  }
  .login, .logout {
    font-size: 14px;
  }
  .admin-users {
    font-size: 14px;
  }
}


/* Media queries  */
@media screen and (max-width: 600px) {
  /* Layout  */
  .layout-sidebars {
    display: none;
  }


  .home-nav-header {
    display: unset;
  }
  .home-welcome {
    font-size: 12px;
  }
  .create-btn button {
    font-size: 11px;
  }


  /* FOOTER SECTION  */
  .footer-search {
    display: flex;
  }
  .online-status {
    position: absolute;
    right: 2%;
    bottom: 2%;
  }
  .online-status .status {
    font-size: 12px;
  }
  .copyright {
    position: absolute;
    left: 2%;
    font-size: 12px;
    bottom: 2%;
  }
}



/* Media queries  */
@media screen and (max-width: 450px) {
  .home-welcome {
    font-size: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .layout-midbar {
    height: 75vh;
  }

  /* FOOTER SECTION  */
  .online-status .status .on {
    display: none;
  }
}


/* Media queries  */
@media screen and (max-width: 350px) {
  /* Home  */ 
  .home-con {
    height: auto;
    overflow: hidden;
  }
  .home-nav-con {
    height: 60px;
  }
  .home-nav-con .logo img, .home-nav-con .current-user img {
    height: 40px;
    width: 40px;
  }
  .home-nav-con .current-user {
    align-items: center;
    justify-content: center;
  }
  .home-nav-con .current-user strong {
    font-size: 12px;
  }
  .home-nav ul {
    align-items: center;
    gap: 15px;
  }
  .home-nav ul li button {
    padding: 2px 5px;
  }
  .admin-users {
    font-size: 12px;
  }
  .create-btn button {
    font-size: 9px;
  }
}